.first-step {
   font-size: 10px;
   @include lg {
      width: 100%;
   }
 
   form {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 1.2em;
      label {
         margin-bottom: 5px;
         @include lg {
         font-size:  1.5em;
         font-weight: bold;  
      }  
       }
      input {
         border: 1px solid hsl(229, 24%, 87%);
         border-radius: 3px;
         margin: 2px 0;
         padding: 10px 15px;
         // font-size: 10px;
         color: hsl(231, 11%, 63%);
         margin-bottom: 10px;
         @include lg {
            line-height: 35px;
            font-size: 1.5em;
            margin-bottom: 40px;
         }
      }
      .input--valid {
         border-color: red;
         border-width: 2px;
      }
   }






}