.first-step {
   
   
  
   form {
      display: flex;
      flex-direction: column;
      font-weight: 500;
      font-size: 12px;
      label {
         margin-bottom: 5px;
      }
      input {
         border: 1px solid hsl(229, 24%, 87%);
         border-radius: 3px;
         margin: 2px 0;
         padding: 10px 15px;
         // font-size: 10px;
         color: hsl(231, 11%, 63%);
         margin-bottom: 10px;
      }
   }






}