.sec-step {
   @include lg {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      
   }

   .sec-step__plans {
      @include lg {
         display: flex;
         justify-content: space-between;
         height: 250px;
         width: 100%;
         font-size: 1.2em;
      }
      .plan {
         display: grid;
         grid-template:
         "a b b"
         "a c c"
         "a d d";
         grid-template-columns: 60px 1fr;
         grid-template-rows: 15px 15px 1fr;
         margin: 10px 0;
         padding: 12px;
         width: 100%;
         // min-height: 60px;
         border: 1px solid hsl(231, 11%, 63%);
         border-radius: 5px;
         // justify-content: center;
         align-items: center;
         @include lg {
            width: 200px;
            height: 100%;
            // margin: 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            padding: 5;
            
         }
      

      
         img {
            grid-area: a;
            margin: 0 auto;
            pointer-events: none;
            @include lg {
               margin: 10px
            }
         }
         h2 {
            grid-area: b;
            align-self: end;
            margin: 3px;
            pointer-events: none;
            
            @include lg {
               flex-basis: 100%;
            }
            
         }
         span {
            grid-area: c;
            align-self: start;
            margin: 3px;
            pointer-events: none;
            @include lg {
               flex-basis: 100%;
            }
         }
         .plans__bonus {
            grid-area: d;
            color:hsl(213, 96%, 18%);
            align-self: end;
         }
         
      }

      .plan--active {
         background-color: hsl(217, 100%, 97%);
         border-color:  hsl(243, 100%, 62%);
      }

    

   }

   .plans__switch {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:  hsl(217, 100%, 97%);
      border-radius: 5px;
      padding: 10px 0;
      margin-top: 20px;
      @include lg {
         width: 100%;
         height: 50px;
         font-size: 1.2em;
      }
      .switch--active {
         color: hsl(213, 96%, 18%);
         
      }

      span {
         font-weight: 700;
         
      }
      
      .switch__toggle {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 0 10px;
         @include lg{
            width: 100px;
         }
         input {
            position: absolute;
            opacity: 0;
            height: 0;
            width: 0;
            
         }

         label {
            display: flex;
            position: relative;
            align-items: center;
            // left: 0.2em;
            @include lg{
            
            }
         }
         label::before {
            content: "";
            width: 30px;
            height: 1.5em;
            background-color: hsl(213, 96%, 18%);
            border-radius: 1em;
            @include lg{
               width: 40px;
            }
         }
         label::after {
            content: "";
            position: absolute;
            left: var(--monthly);
            right: var(--yearly);
            width: 1em;
            height: 1em;
            background-color: hsl(0, 0%, 100%);
            border-radius: 1em;
         }
         
         

      }
   }

   
}