.sum-step {
   display: flex;
   flex-direction: column;
   background-color:  hsl(217, 100%, 97%);
   padding: 15px;
   border-radius: 5px;
   @include lg {
      width: 100%;
      min-height: 80px; 
      font-size: 1.2em;
      padding: 15px;
   }

   .sum-step__plan {
      position: relative;
      display: grid;
      grid-template: 1fr 1fr / 2fr 1fr;
      justify-items: start;
      @include lg {
         padding:10px 40px ;
      }
      .plan {
       grid-area: 1 / 1 / 2 / 2;
       align-self: flex-start;
      
     
      }
      li {
         font-weight: 700;
         font-size: 14px;
         color: hsl(213, 96%, 18%);
      }
      .price {
        grid-area: 1 / 2 / 3 / 3;
        justify-self: end;
        align-self: center;
        font-weight: 700;
        color:hsl(213, 96%, 18%);
        
      }
      .change-button {
         grid-area: 2/1/3/2;
         border: none;
         background-color: transparent;
         padding: 0;
         text-decoration: underline 1.5px;
         color: hsl(231, 11%, 63%);
         font-weight: 500;
         align-self: flex-end;
      
      }
      .change-plan {
         position: absolute;
      }

   }
   .line {
      width: 100%;
      height: 1px;
      background-color: hsl(217, 100%, 97%);
      margin: 10px 0;
   }

   .sum-step__bill{
      display: flex;
      flex-wrap:wrap;
      align-items: center;
      @include lg {
         padding: 40px;
         
      }
      
      .bill__add-on {
         color: hsl(231, 11%, 63%);
         flex-basis: 70%;
         padding: 6px 0;
      }

      .bill__price {
         flex-basis: 30%;
         color: hsl(213, 96%, 18%);
         text-align: end;
      }





   }

   
}

.sum-result {
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin: 20px 0;
   padding: 0 15px;
   @include lg {
      padding: 20px 55px;
      font-size: 1.2em;
   }

   .price {
      color: hsl(243, 100%, 62%);
      font-size: 14px;
      font-weight: 700;
   }
}